body {
  background: #008080;
}

.canva {
  display: flex;
  color: blue;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 34px;
  color: Brown;
  text-align: center;
}

.con-1 {
  margin: 20px 50px 30px 40px;
  display: flex;
  border: 1px dotted;
  border-color: black;
}

p {
  text-align: center;
  align-items: center;
}
